
#board { height: 1200px; overflow: scroll;}
.match {padding: 0; margin: 0}

#desc { padding: 25px;  }

#destroyer { width: 320px; height: 150px; border:1px solid #9DB668; }

.destroyed {display: none}

#timer {display: block; border:2px solid #9DB668; width: 60px; border-radius: 8px; height: 30px; margin: 0 auto; text-align: center;}

#score { font-size: 60px}
